<ul class="heroes">
  <li *ngFor="let hero of heroes" [@heroState]="hero.state" (click)="toggleState(hero)"><span class="badge">{{hero.id}}</span> {{hero.name}}</li>
</ul>
<div *ngIf="selectedHero">
   <h2>{{selectedHero.name | uppercase}} es mi heroe</h2>
</div>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium odit ratione consequuntur provident tenetur quisquam dicta, exercitationem, porro, molestiae accusantium facilis recusandae cupiditate fugit laudantium libero dolorem quaerat quam? Tempora!</p>
<div [@popOverState]="stateName">
  <p>Hello! I'm a helpful message.</p>
</div>

<button (mouseenter)="toggleShow()" (mouseleave)="toggleShow()">Toggle PopOver</button>
<br>
<img [@photoState]="statePhoto" src="../assets/img/[shadow] BRB Tecnostore Color.png" alt="brb" width="200px" height="200px">

<button (click)="toggleStatePhoto('move')">move</button>
<button (click)="toggleStatePhoto('enlarge')">scale</button>
<button (click)="toggleStatePhoto('spin')">rotate</button>
